* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    font-family: 'Inter', sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
    height: 200px;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 126px;
    height: 48px;
    margin-top: 88px;
}

main {
    width: 736px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#espacoTarefas {
    width: 735px;
    border-radius: 8px;
    margin-top: 30px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgPrancheta {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

#pSemTarefa,
#pCriaTarefa {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 20px;
    line-height: 0.9;
}


#pCriaTarefa {
    margin-top: 2px;
}


.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container input {
    width: 638px;
    height: 54px;
    border-radius: 8px;
    background-color: #262626;
    border: none;
    color: #808080;
    padding: 16px;
    font-size: 16px;
}

.input-container button {
    width: 90px;
    height: 54px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #1E6F9F;
    font-size: 14px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container svg {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

#task-info {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    color: #4EA8DE;
}

#task-info h3 {
    display: flex;
    align-items: center;
}

#task-info span {
    background-color: #333333;
    color: white;
    padding: 2px 8px;
    border-radius: 999px;
    margin-left: 8px;
    font-size: 12px;
}

#created-tasks {
    color: #4EA8DE;
}

#completed-tasks {
    color: #8284FA;
}

.tasks {
    width: 100%;
    margin-top: 30px;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    background-color: #262626;
    border: 1px solid #333333;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 16px;
    justify-content: space-between;
}

#task-list li input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

#task-list li span {
    color: #F2F2F2;
    margin-left: 16px;
    flex-grow: 1;
}



